/* 메인 헤드라인 */

.container {
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15px;
    padding-bottom: 20px;
    background-color: #fff;
}

.main_news_left {
    width: 727px;
    float: left;
    box-sizing: border-box;
}

.main_news_combi {
    overflow: hidden;
}

.main_news {
    width: 727px;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
    margin-bottom: 12px;
    border-top: 2px solid #000;
}
/*
.area_left {
    overflow: hidden;
    width: 140px;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
}

.line {
    height: 1220px;
    border-right: 1px solid #e1e1e1;
}

.area_left_title {
    font-size: 18px;
    color: #0365b0;
    font-weight: 600;
    padding-bottom: 20px;
    letter-spacing: -1px;
}

.newcolor {
    color: #434343;
}

.line ul {
    float: left;
    line-height: 1.8;
    letter-spacing: -1px;
}
*/
.main_news_main {
    width: 675px;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 15px;
}

/*
.title_sub {
    font-size: 14px;
    color: #848383;
    padding-bottom: 5px;
    letter-spacing: -1px;
    width: 560px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -1px;
}
*/
.main_photo_main {
    position: relative;
    width: 675px;
    height: 338px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main_text_main {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #343434;
    padding: 15px 0;
    letter-spacing: -1px;
    background-color: rgba(0, 0, 0, 0.6)
}

.main_text_main a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;

}

.main_text_main a h2 {
    font-size: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.main_text_main a p {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.main_news_list {
    width: 675px;
    padding-bottom: 15px;
    overflow: hidden;
}

.main_news_list:hover {
    transition: all 0.3s;
    color: #486e8a
}

.main_news_list_thumb {
    float: left;
    width: 130px;
    height: 90px;
    margin-right: 10px;
    overflow: hidden;
}

.main_news_list_thumb a {
    display: block;
    width: 100%;
    height: 100%
}

.main_news_list_title {
    font-weight: 600;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_news_list_title a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    letter-spacing: -1px;
}

.main_news_list_title a span {
    font-size: 13px;
    color: #979797;
    padding-left: 15px;
    font-weight: normal;
    letter-spacing: -0.25px;
}

.main_news_list_text {
    float: left;
    width: 525px;
    line-height: 18px;
    letter-spacing: -1px;
    padding: 5px 0
}

.main_news_list_text a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #505050
}

/*섹션 타이틀 디자인*/

.main_keyword {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 18px;
    color: #1b4481;
    font-weight: bold;
    letter-spacing: -1px;
    padding-left: 15px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid #d0d0d0;
}

.main_keyword span {
    font-size: 12px;
    padding-left: 15px;
    overflow: hidden;
}

p.main_more{
    float: right;
    text-align: center;
    display: block;
    /* padding-top: 10px; */
    padding: 5px 20px;
    height: 50px;
    box-sizing: border-box;
}

/*오피니언*/

.news_vs {
    width: 100%;
    height: 320px;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 12px;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 2px solid #000
}

.main_news_half_left,
.main_news_half_right {
    display: block;
    width: 362.5px;
    height: 270px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}

.main_news_half_title_left,
.main_news_half_title_right {
    line-height: 38px;
    /* margin-bottom: 15px; */
    width: 220px;
    height: 38px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto 15px;
}

.main_news_half_title_left {
    background-color: #487284;
}

.main_news_half_title_right {
    background-color: #7a4040;
}

.main_news_half_left {
    float: left;
    background: #e3ecf1;
    padding: 30px 20px;
    border-right: 1px solid #d0d0d0
}

.main_news_half_right {
    float: right;
    padding: 30px 20px;
    background: #f2e6e6;
}

.main_news_half_left > .half_list_thumb {
    clear: both;
    float: left;
    width: 125px;
    height: 85px;
    margin-right: 10px;
    overflow: hidden;
}

.main_news_half_right > .half_list_thumb {
    clear: both;
    float: right;
    width: 125px;
    height: 85px;
    margin-left: 10px;
    overflow: hidden;
}

.main_half_list_thumb_right {
    float: left;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.main_news_half_left > .half_list_title,
.main_news_half_right > .half_list_title {
    font-weight: 600;
    width: 185px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 25px;
    height: 50px;
}

.main_news_half_left > .half_list_title {
    float: left;
}

.main_news_half_right > .half_list_title {
    float: right;
    text-align: right;
}

.main_related_half {
    width: 100%;
    overflow: hidden;
    float: left;
    padding-top: 15px;
    padding-left: 5px;
}

.main_related_half_title {
    overflow: hidden;
    float: left;
    font-size: 13px;
    letter-spacing: -1px;
}

.main_related_half_title:hover {
    transition: all 0.3s;
    opacity: 0.6;
}


/*추천컨텐츠*/

.main_news_keyword {
    overflow: hidden;
    float: left;
    border-top: 2px solid #000;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.main_news_keyword .news_list_thumb {
    float: left;
    width: 130px;
    height: 90px;
    margin-right: 10px;
    overflow: hidden;
}

.main_news_keyword .news_list_thumb a {
    display: block;
    width: 100%;
    height: 100%
}

.main_news_keyword .news_list_title {
    font-weight: 600;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_news_keyword .news_list_title a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    letter-spacing: -1px;
}

.main_news_keyword .news_list_title a span {
    font-size: 13px;
    color: #979797;
    padding-left: 15px;
    font-weight: normal;
    letter-spacing: -0.25px;
}

.main_news_keyword .news_list_text {
    float: left;
    width: 525px;
    line-height: 18px;
    letter-spacing: -1px;
    padding: 5px 0 15px;
}

.main_news_keyword .news_list_text a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #505050
}

/*
.related_news {
    overflow: hidden;
    float: left;
    padding-top: 10px;
}
*/
.main_related_title {
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    color: #5b5b5b;
    font-size: 13px;
    letter-spacing: -1px;
    padding-left: 145px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main_related_title:hover {
    transition: all 0.3s;
    opacity: 0.6;
}


/*정책/산업*/

.main_news_thumb3 {
    width: 727px;
    height: 290px;
    overflow: hidden;
    float: left;
    margin-bottom: 12px;
    border-top: 2px solid #000;
    box-sizing: border-box;
    border-bottom: 1px solid #d0d0d0;
}

.main_news_thumb3 .main_keyword {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 18px;
    color: #1b4481;
    font-weight: bold;
    letter-spacing: -1px;
    padding-left: 15px;
    background: #fff;
    box-sizing: border-box;
	border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.main_area_center {
    width: 100%;
    height: 240px;
    padding: 15px 25px;
    overflow: hidden;
    float: left;
    background: #fef7f7;
	border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    box-sizing: border-box;
}

.main_photo_list {
    width: 192px;
    margin-right: 45px;
    overflow: hidden;
    float: left;
    padding-top: 10px;
}

.main_photo_list_thumb {
    width: 190px;
    height: 100px;
    overflow: hidden;
    float: left;
}

.main_photo_list_thumb img {
    width: 100%;
    height: 100%;
}

.main_photo_list_title {
    width: 190px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    float: left;
    padding-top: 10px;
    letter-spacing: -1px;
}

.main_photo_list_title a span {
    font-size: 13px;
    overflow: hidden;
    color: #8e8e8e;
    display: block;
    margin-top: 5px;
    font-weight: normal;
}

.main_photo_list:last-child {
    margin: 0;
}


/*피플*/

.main_news_combi_2rows {
    float: left;
    overflow: hidden;
    margin-bottom: 12px;
}

.main_news_thumblist {
    width: 1080px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    border-top: 2px solid #000;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
/*
.line_thumblist {
    height: 185px;
    border-right: 1px solid #e1e1e1;
}
*/
.main_area_center_thumblist {
    width: 100%;
    height: 190px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    padding: 20px 28px;
    background: #fef7f7;
}

.main_area_center_thumblist article {
    width: 70%;
    float: left;
    box-sizing: border-box;
}

.main_line_thumb {
    overflow: hidden;
    box-sizing: border-box;
    float: left;
}

.main_thumb_set {
    width: 190px;
    overflow: hidden;
    float: left;
    margin-right: 45px;
    box-sizing: border-box;
}

.photo_list:hover,
.thumb_set:hover {
    transition: all 0.3s;
    opacity: 0.6;
}

.main_thumb {
    overflow: hidden;
    float: left;
    padding-bottom: 2px;
}

.main_thumb_set .main_thumb a img {
    width: 190px;
    height: 110px;
}

.main_title_text {
    overflow: hidden;
    float: left;
    letter-spacing: -1px;
}

.main_title {
    font-size: 13px;
    font-weight: bold;
    color: #343434;
    padding-bottom: 0px;
    letter-spacing: -1px;
}
/*
.text {
    font-size: 12px;
    color: 343434;
    letter-spacing: -1px;
}
*/
.main_list {
    width: 30%;
    overflow: hidden;
    float: left;
    padding-top: 5px;
    box-sizing: border-box;
}

.main_list_set {
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    padding-bottom: 15px;
}

/*
.list_icon {
    box-sizing: border-box;
    overflow: hidden;
    float: left;
}
*/
.main_list_icon_title {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -1px;
}

.main_list_icon_title:hover {
    transition: all 0.3s;
    opacity: 0.6;
}

/*마지막섹션*/

.main_news_combi_3rows {
    width: 1080px;
    height: 330px;
    overflow: hidden;
    border-top: 2px solid #000;
    border-left: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

.main_news_thumblist_fin {
    width: 100%;
    overflow: hidden;
}


/*건강 인 웹툰*/

article.left {
    width: 670px;
    height: 330px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #d0d0d0
}

article.right {
    width: 410px;
    height: 330px;
    overflow: hidden;
    float: right;
    box-sizing: border-box;
    border-right: 1px solid #d0d0d0
}

.mdphoto_text {
    width: 630px;
    height: 240px;
    position: relative;
    border: 1px solid rgb(226, 226, 226);
    box-sizing: border-box;
    overflow: hidden;
    background: none;
}

.desSlideshow {
	position:relative;
	width: 100%;
    height: 100%;
	background: #fff;
}

.switchBigPic {
	position:relative;
    width: 468px;
    height: 240px;
    background: #fff;
	margin-left: 160px;
}

ul.nav {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    display: block;
	z-index:1;
}

ul.nav > li {
    margin: 0px;
    padding: 0px 0px 0px 25px;
    list-style: none;
    width: 135px;
    height: 47px;
    line-height: 47px;
    background: #fff;
    border-right: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
	transition:all 0.3s;
}

ul.nav > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    height: 49px;
    display: block;
    padding-left: 25px;
    font-size: 13px;	
}

ul.nav > li.on {
    width: 165px;
    background: #486e8a;
    color: #fff;
	
}

ul.nav > li:hover {
    width: 165px;
    background: #486e8a;
    color: #fff;
}

.webtoon {
	position:absolute;
	top:0;
	left:0;
	width: 468px;
    height: 240px;
    padding: 25px 15px;
    overflow: hidden;
    box-sizing: border-box;
	display:none;
}

.webtoon:first-of-type {display:block;}

.webtoon a {
    display: block;
}

.webtoon_right {
    display: inline-block;
    float: right;
    height: 190px;
}

.webtoon_txt {
    padding-bottom: 100px;
}

.webtoon_right .webtoon_txt h3 {
    font-size: 15px;
}

.webtoon_txt p {
    color: #a5a5a5;
    font-size: 12px;
    padding: 5px 0;
}

.sns_share {
    display: block;
    overflow: hidden;
}

.sns_share p {
    float: left;
    font-size: 13px;
    color: #8b8b8b;
}

.sns_con {
    float: right;
}

.sns_con li {
	float:left;
	cursor:pointer;
}

.sns_con img{
    padding: 0 3px;
}

.post_box_wrap {
    width: 380px;
    height: 240px;
    overflow: hidden;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
}

.s_post {
    position: relative;
    width: 189px;
    float: left;
    height: 120px;
    background: rgba(255, 248, 190, 0.7);
}

.s_post a {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.s_post a:hover {
    opacity: 1;
    transition: all 0.4s;
}

.s_post a:hover p {
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

.s_post a p {
    position: absolute;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    bottom: 0;
    width: 189px;
    box-sizing: border-box;
}
