
/* reset 
* {margin: 0; padding: 0;}
ol,ul,li {list-style: none;}
a {outline:0; text-decoration:none; color:inherit;}
address, i, em {font-style: normal;}



.wrap{
	
	width:100%;
	background-color: #ececec;
	overflow:hidden;
}


.header {
    position: relative;
    z-index: 10;
	height:120px;
	background-image: url("//img.healthi.kr/ikn/news/inc/header_bg.jpg");
	background-repeat: repeat-x;

}


.header_top {
	position:relative;
	height: 30px;
	background:#fff;
	margin:0 auto;
    border-bottom: 1px solid #e1e1e1;
	margin:0;
	padding:0;
	display:block;
}


.lnb{
	position:relative;
	height: 30px;
	background:#fff;
	margin:0 auto;
	width:1080px;
	min-width:1080px;
}


.lnb_left{
    float:left; 
}


.lnb_left li {
    float: left;
	margin-right:10px; 
	font-size:12px;
	font-weight:100;
	color:#848383;
	line-height:30px;
    letter-spacing:-1px;
}
    
.lnb_left li span {margin-left:10px;}



.lnb_right{
    float: right;
}


.lnb_right li {
    float:right;
	margin-left:10px; 
	font-size:12px;
	font-weight:100;
	color:#848383;
	line-height:30px;
    letter-spacing:-1px;
}
    
.lnb_right li span {
    margin-left:10px;
}






.header_navi{
    position:relative;
	height: 89px;
	margin:0 auto;
	width:1080px;
	min-width:1080px;
}


.header_navi nav {
    position:absolute;
	left: 230px;
	top: 22px;
    float: left;

}





.header_navi nav ul li {
    float: left;

}


.header_navi nav p {
    float:left;
	font-size:30px;
	font-weight:400;
	color:#848383; margin:0 20px;
	position:absolute;
	left:45px;
	top:-2px;

}



.header_navi nav ul li span {
    float:left;
	font-size:25px;
	font-weight:500;
	color:#848383; margin:0 10px;
	vertical-align:bottom;
	letter-spacing:-1.5px;

}




.header_navi nav ul li .active {
    float:left;
	font-size:25px;
	font-weight:600;
	color:#0365b0; margin:0 10px;
	vertical-align:bottom;
	letter-spacing:-1.5px;
}




/*.header_navi nav ul li:hover span {
    
    font-weight: 900;

    color: #0365b0;
    
}*/

/*


.searchingbox {
    position: absolute;
    top: 35px;
    z-index: 80;
    right: 0px;
	border: 2px solid #ec64a5;
    width: 245px;
    height: 30px;
    font-size: 12px;
    background-color: #fff;
    letter-spacing:-1px;
	color:#0a9fe0;
	padding-left:15px;
}


.searchingbox:focus {
	outline: none;
}



.searching_btn {
    position: absolute;
    top: 37px;
    right: 1px;
    z-index: 90;
}


.sub_navi{
    height:30px;
	width:100%
    z-index: 10;
    background-color:#fff;
	box-shadow:0 5px 11px 0 rgba(0,0,0,0.08), 0 4px 15px 0 rgba(0,0,0,0.08)
}



.sub_navi nav  { 
	margin:0 auto;
    width:1080px;
	padding-left:8px;


}





.sub_navi nav ul {
    float:left;
	font-size:14px;
	font-weight:600;
	letter-spacing:-1px;
	color:#848383; margin:0 20px;
	padding-top:5px;
	letter-spacing:-1px;
}



.sub_navi nav ul li{
    float: left;
}

.sub_navi nav ul li span{
    margin-right:30px;
}


.sub_navi nav ul li span:hover {    
    font-weight: 900;
    color: #0365b0;  
    border-bottom:2px solid #0365b0;
	padding-bottom:3px;
}



.sub_navi nav ul li span.on {    
    font-weight: 900;
    color: #0365b0;  
    border-bottom:2px solid #0365b0;
	padding-bottom:3px;
}

*/

.container {
    width: 1080px;
	margin: 0 auto;
    margin-top: 40px;
	background-color: #fff;
}



.news_left {
    width:740px;
	float:left;
}



.news_combi {
	overflow: hidden;
	
}



.news {
    width: 727px;
	/*padding-bottom:35px;*/
	overflow:hidden;
	box-sizing:border-box;
	float:left;
	border:1px solid #d0d0d0;
	border-top:2px solid #000;
}


.area_left {
    overflow:hidden;
    width:140px;
	float:left;
	box-sizing:border-box;
	padding-left:20px;
}

.line {
	height: 1220px;
    border-right: 1px solid #e1e1e1;
}



.area_left_title {
    font-size:18px;
	color: #0365b0;
	font-weight: 600;
	padding:20px 0;
	letter-spacing:-1px;
}


.newcolor {
	color: #434343;
}




.line ul {
    float: left;
    line-height: 1.8;
    letter-spacing:-1px;

}




.area_center {
    overflow:hidden;
    float:left;
    width: 585px;
    padding:20px 12px 0;
	box-sizing:border-box;
	border-left:1px solid #d0d0d0;
}





.news_main{
    overflow:hidden;
	width: 560px;
	box-sizing:border-box;
	padding-bottom: 20px;
}



.title_main{
    font-size: 30px;
	font-weight: 600;
	padding-bottom:5px;
	letter-spacing: -1px;
	width: 560px;
	overflow: hidden;
	text-overflow: ellipsis;
    letter-spacing:-1px;
}

.title_sub{
    font-size: 14px;
	color: #848383;
	padding-bottom:5px;
	letter-spacing: -1px;
	width: 560px;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing:-1px;
}


.photo_main{
    width:560px;
	padding:0;
	margin:0;
}

.text_main{
	letter-spacing: -1px;
	width: 560px;
	overflow: hidden;
	text-overflow: ellipsis;
    font-size: 13px;
	color: #343434;
	letter-spacing:-1px;
}





.news_list{
    width:560px;
    padding-bottom:15px;
    overflow: hidden;
}




.news_list_thumb {
    float:left;
    width:117px;
	margin-right:10px;
    overflow: hidden;
}

.news_list_title {
    font-size:17px;
	/* font-weight: 600;  2018.03.27 오부장님 요청으로 주석 */
    float: left;
    width: 430px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    letter-spacing:-1px;
}

.news_list_text {
    float:left;
    font-size: 12px;
    width: 430px;
	line-height: 18px;
	letter-spacing:-1px;
}



/*.news_half_line{   
    width: 280px;
    padding-right: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
    height: 200px;
    border-right: 1px solid #e1e1e1;
    float:left;
    box-sizing: border-box;
}


.news_half{
    padding-top: 10px;
    width: 260px;
    overflow:hidden;
	float:left;
	margin-top:5px;
}


.half_list_thumb{

    float:left;
    width:100px;
	margin-right:10px;
    overflow: hidden;
}


.half_list_title {

	font-weight: 600;
    float: left;
    width: 150px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 16px;
    letter-spacing:-1px;
	line-height:25px;
	height:50px;


}

.related_half{

    width:260px;
    overflow:hidden;
	float:left;
	padding-top:10px;
	padding-left:5px;
}



.related_half_title{
    overflow:hidden;
	float:left;
    font-size: 14px;
	letter-spacing:-1px;
	width: 245px;
}


*/



.news_vs{   
    width: 560px;
	height: 255px;
	margin-bottom: 10px;
    float:left;
    box-sizing: border-box;
	overflow:hidden;
	background-image: url("//img.healthi.kr/ikn/news/inc/vs_bg.jpg");
}


.news_half_left{
    padding-top: 10px;
    width: 280px;
    overflow:hidden;
	float:left;
	margin-top:5px;
	box-sizing: border-box;
	padding-left:20px;
}

.news_half_title_left {
    line-height:40px;
	margin-bottom:15px;
    width:128px;
	height:40px;
    border-radius: 20px;
	background-color:#487284;
	float:left;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:white;
}

.news_half_right{
    padding-top: 10px;
    width: 280px;
    overflow:hidden;
	float:right;
	margin-top:5px;
	box-sizing: border-box;
	padding-left:30px;
}

.news_half_title_right {
    line-height:40px;
	margin-bottom:15px;
	margin-right:20px;
    width:150px;
	height:40px;
    border-radius: 20px;
	background-color:#7a4040;
	float:right;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:white;
}



.half_list_thumb{
    clear:both;
    float:left;
    width:100px;
	margin-right:10px;
    overflow: hidden;
}

.half_list_thumb_right{
    float:left;
    width:100px;
	margin-left:10px;
	margin-right:10px;
    overflow: hidden;
}


.half_list_title {

	font-weight: 600;
    float: left;
    width: 120px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 16px;
    letter-spacing:-1px;
	line-height:25px;
	height:50px;


}

.related_half{

    width:230px;
    overflow:hidden;
	float:left;
	padding-top:10px;
	padding-left:5px;
}



.related_half_title{
    overflow:hidden;
	float:left;
    font-size: 13px;
	letter-spacing:-1px;
	width: 210px;
}


.news_keyword {
    overflow:hidden;
	float:left;
	border-top: 1px solid #e1e1e1;
	margin-top:5px;


}



.keyword {
    font-size: 12px;
	color: #1b4481;
	padding-top:20px;
	padding-bottom:5px;
	font-weight: bold;
	letter-spacing:-1px;
}



.related_news {
    width:560px;
    overflow:hidden;
	float:left;
	padding-top:10px;

}

.related_icon {
    overflow:hidden;
	float:left;
	padding-right: 5px;
}

.related_title {
    overflow:hidden;
	float:left;
    font-size: 14px;
	letter-spacing:-1px;
}

.news_thumb3 {
    width: 720px;
	padding-top:35px;
    overflow:hidden;
	float:left;
	border-top: 1px solid #e1e1e1;
	padding-bottom:35px;

}



.line_thumb3  {
    
	height: 175px;
    border-right: 1px solid #e1e1e1;

}


.photo_list {
    width:180px;
	margin-right:9px;
    overflow:hidden;
	float:left;
}



.photo_list_thumb {
    width: 180px;
	overflow:hidden;
	float:left;
}


.photo_list_title {
    font-size: 14px;
    font-weight: bold;
	overflow:hidden;
	float:left;
	letter-spacing:-1px;
}


.photo_list:last-child {
    margin:0;
}


/*
.area_right {
    width:340px;
	padding-right: 20px;
	box-sizing:border-box;
	overflow:hidden;
	float:left;

}




.line_right {

	height: 1470px;
    border-left: 1px solid #e1e1e1;

}



.area_right_photobox {
    width:300px;
	border-bottom: 1px solid #e1e1e1;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	box-sizing:border-box;
	overflow:hidden;
}


.area_right_photobox:nth-child(3) {
    width:300px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
	box-sizing:border-box;
	border-bottom:0px;
	margin-bottom:20px;
	overflow:hidden;

}



.area_right_mostviewed {
    width:300px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
	box-sizing:border-box;
	border-bottom:0px;
	margin-bottom:20px;
	overflow:hidden;

}






.area_right_title {
    font-size: 14px;
	font-weight: bold;
	text-align:left;
	letter-spacing:-1px;
}


.dots{
    float:right;
}

.dot{
    float:left;
	padding-left:5px;
}


.area_right_photo {
    padding-top:10px;
	padding-bottom:10px;
}

.area_right_phototitle {
    font-size: 12px;
	padding-bottom:20px;
	text-align:center;
	letter-spacing:-1px;

}



.area_right_list {

    padding-top:3px;
	padding-bottom:2px;
    width:300px;
    float:left;


}


.right_list_box {
    padding-top:10px;
	padding-bottom:10px;


}

.list_n {
    padding-top:1px;
    float:left;
	overflow:hidden;
	width:300;
}



.list_thumb {
    width: 100px;
	padding-left: 10px;
    float:left;
	overflow:hidden;
}



.list_title {
    padding-left:10px;
	overflow:hidden;
	float:left;
	width: 165px;
	letter-spacing:-1px;
}



.list_title_long {
    padding-left:10px;
	overflow:hidden;
	float:left;
	width: 250px;
	letter-spacing:-1px;
}



.area_right_baner {
    padding-left:20px;
    width:300px;
	overflow:hidden;
	margin-bottom:20px;
}

*/

.news_combi_2rows {
	overflow: hidden;

}
    


.news_thumblist  {
    
    width:1080px;
	padding-bottom:35px;
	overflow:hidden;
	box-sizing:border-box;
	float:left;
	border-top:  1px solid #e1e1e1;
	padding-top: 30px;
	padding-bottom: 20px;

}



.line_thumblist {

    height: 185px;
    border-right: 1px solid #e1e1e1;
}


.area_center_thumblist {
    overflow:hidden;
    float:left;
	padding-right:20px;
    width: 940px;
	box-sizing:border-box;
}


.line_thumb {
    height: 185px;
    border-right: 1px solid #e1e1e1;
	width:235px;
	padding-left:20px;
	padding-right:20px;
	overflow:hidden;
	box-sizing:border-box;
	float:left;
}



.thumb_set {
    width:196px;
	height:185px;
    overflow:hidden;
    float:left;
    border: 1px solid #e1e1e1;
	box-sizing:border-box;

}

.thumb {
    width:196px;
    overflow:hidden;
    float:left;
	padding-bottom: 10px;
}

.title_text {
    
    width:165px;
    overflow:hidden;
    float:left;
	padding-bottom: 20px;
	padding-left: 15px;
	letter-spacing:-1px;
}

.title {
    font-size:13px;
	font-weight:bold;
	color:343434;
	padding-bottom: 0px;
	letter-spacing:-1px;
}

.text {
    font-size:12px;
	color:343434
	letter-spacing:-1px;
}


.list {

    width:445px;
    padding-left:20px;
    overflow:hidden;
	float:left;
	box-sizing:border-box;
}


.list_set {

	box-sizing:border-box;
    overflow:hidden;
    float:left;
	padding-bottom:15px;
}


.list_icon {
	box-sizing:border-box;
    overflow:hidden;
    float:left;

}

.list_icon_title {
	padding-left:10px;
    font-size: 14px;
	font-weight: bold;
	box-sizing:border-box;
    overflow:hidden;
    float:left;
    width:380px;
	letter-spacing:-1px;
}


.line_thumb4 {

    border-right: 1px solid #e1e1e1;
	height:170px;
}


.line_thumb_r {
    height:170px;
    border-right: 1px solid #e1e1e1;
	width:235px;
	padding-left:20px;
	padding-right:20px;
	overflow:hidden;
	box-sizing:border-box;
	float:left;
    margin-bottom: 15px;
}


.line_thumb_r:last-child {   
    border-right: 0px;
}




.thumb_set4 {
    width:196px;
	height:170px;
    overflow:hidden;
    float:left;
    border: 0px
	box-sizing:border-box;

}


.title_text4 {
    
    width:195px;
    overflow:hidden;
    float:left;
	padding: 10px 0px 20px 0px;
}




.floating {


    width:100%;
    position:fixed;
	bottom:0;
    background-color: rgba(52,52,52,0.7);
    overflow:hidden;
	z-index:30;
}



.floating_arr_l  {

    position:absolute;
	top:50px;
	left:300px;
}


.floating_arr_r {

    position:absolute;
	top:50px;
	right:300px;
}

.floating_contents_area {
    width:1080px;
	margin:0 auto;
    overflow:hidden;
	z-index:50;
	padding-top:15px;
	padding-bottom:15px;
	height:120px;
}

.floating_left {


    overflow:hidden;
    width:140px;
	height:120px;
	float:left;
	box-sizing:border-box;
	padding-left:20px;
    border-right: 1px solid #e1e1e1;
}

.floating_left p {

    font-size:18px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 20px;
	letter-spacing:-1px;

}


.floating_left ul li span{

    font-size:12px;
	color: #fff;
	letter-spacing:-1px;


}

.floating_boxes{
	overflow:hidden;
	padding:0 10px;
}


.floating_box{
	overflow:hidden;
	float:left;
	padding:0 10px;
}

.floating_box .floating_photo {
	position:relative;
    width:210px;
    height:120px;
}


.floating_textbox {
    
	position:absolute;
	bottom:0;
    width:210px;
    height:30px;
    background: linear-gradient(to top, black, transparent);
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:30px;
	letter-spacing:-1px;

}

/*	
footer {
    overflow:hidden;
    width:1080px;
	margin:10px auto 30px;
	height: 140px;
	background-color: #f9f9f9;
	border:  1px solid #e1e1e1;
}

.logo{
    float:left;
    overflow:hidden;
    padding-top:55px;
	padding-left:35px;
}


.footermenu {

    padding-top:30px;
	float:left

}

.footermenu span{

    font-size:10px;
	color:#434343;
	float:left;


}

.footermenu ul li{
	padding-left:25px;
	float:left;

}




.footerinfo {

    padding-top:15px;
	float:left

}

.footerinfo span{

    font-size:11px;
	color:#434343;

}

.footerinfo ul li{
    font-size:11px;
	padding-left:25px;
	float:left;

}


.copy {
    float:left;
    padding-top:15px;
	padding-left:25px;
    font-size:11px;
	color:#434343;
}
    



*/







/*리스트 페이지 시작*/



.newslist_line  {
	height: 1600px;
/*    border-right: 1px solid #e1e1e1;*/

}

.newslist_line ul {
    float: left;
    line-height: 1.8;
    letter-spacing:-1px;


}



.newslist_line ul li.on{
	color: #0365b0;
	font-weight:bold;
}


/*
.newsline_right {

	height: 1800px;
    border-left: 1px solid #e1e1e1;

}
*/

.newslist_title {
    width: 560px;
	height:100px;
    padding-bottom: 15px;
    overflow: hidden;
}

.newslist_title_path{

    font-size: 14px;
	color: #848383;
	float:left;
	padding-bottom:50px;
}

.newslist_title_path img{
    margin-bottom:-2px;
}


.newslist_title_path span{
    
    font-size: 18px;
	color: #0365b0;
	font-weight: bold;

}


.newslist_title ul {
    clear: both;
    float:left;
	overflow:hidden;
}




.newslist_title ul li {
    font-size:14px;
    float:left;
	padding-right:10px;
	color:#848383;
	text-decoration:none;
}

.newslist_title ul li.on{
    float:left;
	padding-right:10px;
	color:#343434;
	text-decoration:none;

}




.newslist_title_date {
    float:right;
    font-size: 12px;
	color: #434343;
}


.newslist_list {
    border-top: 1px solid #e1e1e1;
	padding-top: 20px;
    width:560px;
    padding-bottom:15px;
    overflow: hidden;
}

.newslist_list_thumb {
    width:180px;
	height:123px;
	float:left;
}

.newslist_list_title {
    padding-left:10px;
	font-weight: bold;
    float: left;
    width: 370px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 16px;
    letter-spacing:-1px;
	line-height:25px;
	height:50px;
}





.newslist_list_sub {
    padding-left:10px;
	padding-top:10px;
	font-weight: normal;
    float: left;
    width: 370px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing:-1px;
	line-height:20px;
	height:20px;
}


.newslist_list_time {
    padding-left:10px;
	padding-top:25px;
	font-weight: thin;
    float: left;
    width: 370px;
    overflow: hidden;
    font-size: 12px;
	color:#bcbcbc;
    letter-spacing:-1px;

}

.page-box {
	float:left;
    padding: 25px 0;
    width: 560px;
    border-top: 1px solid #e1e1e1;
    overflow: hidden;
    text-align: center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    color: black;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #e1e1e1;
	display: inline;
}

ul.pagination li:hover {

    background-color: #6386c7;
    color: white;
    border: 1px solid #6386c7;
	font-weight:bold;
    text-decoration: none;
}


ul.pagination li.active {

    background-color: #6386c7;
    color: white;
    border: 1px solid #6386c7;
	font-weight:bold;
    text-decoration: none;
}


/*리스트 페이지 끝*/

/*뷰페이지 시작*/



.newsview_line  {
	height: 2090px;
}

.newsview_line ul {
    float: left;
    line-height: 1.8;
    letter-spacing:-1px;
}



.newsview_line ul li.on{
	color: #0365b0;
	font-weight:bold;
}



.view_sns{
    clear:both;
    float: left;
	width: 70px;
	overflow:hidden;
    padding-top:20px;
}



.view_sns ul li{
    padding-right:10px;
	padding-top:10px;
    float: left;
}


.newsview_right {

	height: 2090px;
    border-left: 1px solid #e1e1e1;
}


.area_title {
    width:1080px;
	float:left;
	overflow:hidden;	
	box-sizing:border-box;
	padding:40px 20px 10px;
	border-top:2px solid #000;
}

.area_title_title {
    font-size:32px;
	font-weight:bold;
	overflow:hidden;
	padding-bottom:20px;
    overflow: hidden;
    /*width:1000px;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing:-1px;
	line-height:30px;
	height:30px;*/

}

.area_title_sub {
    width:800px;
    font-size:20px;
	color:#434343;
	overflow:hidden;
	padding-bottom:25px;
    letter-spacing:-1px;
}

.area_title_time {
    font-size:12px;
	color:#848383;
	clear:both;
	float:left;
	overflow:hidden;
}



.area_title_bttn {
	float:right;
	overflow:hidden;
	padding-left:10px;
}

.area_title_bttn ul li{
	float:right;
	padding-left:15px;
	overflow:hidden;
}

.area_title_reporter {
    font-size:14px;
	float:right;
	color:#434343;
}


.newsview{
    width: 560px;
    float: left;
    overflow: hidden;
}

/*
.newsview p {
    float: left;
    overflow: hidden;
}
*/

.newsview p.contents {
    width: 560px;
    overflow: hidden;
    font-size: 13px;
    float: left;
    letter-spacing:-1px;
	padding-top:20px;
	line-height:28px;
}

.newsview p.reportername {
    width: 560px;
    overflow: hidden;
    font-size: 13px;
    float: left;
    letter-spacing:-1px;
	padding-top:30px;
}

.newsview p.right {
    margin:0 auto;
	text-align:center;
    width: 560px;
    overflow: hidden;
    font-size: 12px;
    float: left;
    letter-spacing:-1px;
	padding:50px 0;
	line-height:25px;

}


.view_bnn_low {
    float:left;
    padding:20px 0;
}
.view_bnn_btn {
    float:left;
	padding:30px 0;
	width:100%;
}

.view_bnn_btn_left {
    float:left;
	padding-right:20px;
}

.view_bnn_btn_right {
    float:right;
}

/* sns 
div.sns {position:relative; width:300px; height:200px; margin-bottom:7px; }
div.sns ul {position:relative; z-index:5;}
div.sns ul li {float:left; width:72px; height:24px; text-align:center; box-sizing:border-box; margin-right:4px;}

div.sns ul li:nth-child(1) {background:url("//img.healthi.kr/ikn/main/tab_fb.png");}
div.sns ul li:nth-child(2) {background:url("//img.healthi.kr/ikn/main/tab_insta.png");}
div.sns ul li:nth-child(3) {background:url("//img.healthi.kr/ikn/main/tab_blog.png");}
div.sns ul li:nth-child(4) {margin-right:0px; background:url("//img.healthi.kr/ikn/main/tab_twitter.png");}

div.sns ul li.snsbtn_on:nth-child(1) {background:url("//img.healthi.kr/ikn/main/tab_fb_on.png");}
div.sns ul li.snsbtn_on:nth-child(2) {background:url("//img.healthi.kr/ikn/main/tab_insta_on.png");}
div.sns ul li.snsbtn_on:nth-child(3) {background:url("//img.healthi.kr/ikn/main/tab_blog_on.png");}
div.sns ul li.snsbtn_on:nth-child(4) {margin-right:0px; background:url("//img.healthi.kr/ikn/main/tab_twitter_on.png");}

div.sns div.scroll_hide {position:absolute; top:23px; width:300px; height:200px; overflow:hidden;  border:1px solid #ccc; box-sizing:border-box;}
div.sns div.scroll {position:absolute; width:290px; height:200px; background:#fff; padding:5px; overflow-y:scroll;}
div.sns div.scroll div {position:absolute; }
div.sns div.scroll div.sns_on{}
*/