
.newsview_line  {
	height: 2090px;
    border-right: 1px solid #e1e1e1;
}

.newsview_line ul {
    float: left;
    line-height: 1.8;
    letter-spacing:-1px;
}



.newsview_line ul li.on{
	color: #0365b0;
	font-weight:bold;
}



.view_sns{
    clear:both;
    float: left;
	width: 70px;
	overflow:hidden;
    padding-top:20px;
}



.view_sns ul li{
    padding-right:10px;
	padding-top:10px;
    float: left;
}



.area_title {
    width:1040px;
	float:left;
	overflow:hidden;
	margin-top:-10px;
    margin-left:20px;
	box-sizing:border-box;
    border-bottom: 2px solid #bcbcbc;
	margin-bottom:20px;
	padding-bottom:10px;
}

.area_title_title {
    font-size:30px;
	font-weight:bolder;
	overflow:hidden;
	padding-bottom:20px;
    overflow: hidden;
    /*width:1000px;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing:-1px;
	line-height:30px;
	height:30px;*/

}

.area_title_sub {
    width:800px;
    font-size:20px;
	color:#434343;
	overflow:hidden;
	padding-bottom:25px;
    letter-spacing:-1px;
}

.area_title_time {
    font-size:12px;
	color:#848383;
	clear:both;
	float:left;
	overflow:hidden;
}



.area_title_bttn {
	float:right;
	overflow:hidden;
	padding-left:10px;
}

.area_title_bttn ul li{
	float:right;
	padding-left:15px;
	overflow:hidden;
}

.area_title_reporter {
    font-size:14px;
	float:right;
	color:#434343;
}


.newsview{
    width: 1040px;
    overflow: hidden;
}

/*
.newsview p {
    float: left;
    overflow: hidden;
}
*/

.newsview p.contents {
    width: 560px;
    overflow: hidden;
    font-size: 13px;
    float: left;
    letter-spacing:-1px;
	padding-top:20px;
	line-height:28px;
}

.newsview p.reportername {
    width: 560px;
    overflow: hidden;
    font-size: 13px;
    float: left;
    letter-spacing:-1px;
	padding-top:30px;
}

.newsview p.right {
    margin:0 auto;
	text-align:center;
    width: 560px;
    overflow: hidden;
    font-size: 12px;
    letter-spacing:-1px;
	padding:50px 0;
	line-height:25px;

}


.view_bnn_low {
    float:left;
    padding:20px 0;
}
.view_bnn_btn {
    float:left;
	padding:30px 0;
	width:100%;
}

.view_bnn_btn_left {
    float:left;
	padding-right:20px;
}

.view_bnn_btn_right {
    float:right;
}